trunk/Reports/WcfClients/Service References/SecurityApi/SecurityWebApi7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.Security.Models.Inputs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.Security.Models.Inputs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rphqbuild1:6761/SecurityWebApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.Security.Models" />
  <xs:complexType name="CreateUserOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.Security.Models" minOccurs="0" name="RegistrationType" type="q1:RegistrationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserOptions" nillable="true" type="tns:CreateUserOptions" />
  <xs:complexType name="DenyRegistrationRequestOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationRequestBankStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DenyRegistrationRequestOptions" nillable="true" type="tns:DenyRegistrationRequestOptions" />
  <xs:complexType name="ChangePhoneNumberOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePhoneNumberOptions" nillable="true" type="tns:ChangePhoneNumberOptions" />
  <xs:complexType name="ResetUserPasswordOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetUserPasswordOptions" nillable="true" type="tns:ResetUserPasswordOptions" />
</xs:schema>