Site/Services/Service References/GeoPointsService/GeoPointService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RapidSoft.GeoPoints.OutputResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RapidSoft.GeoPoints.OutputResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rphqbuild1:49210/GeoPointService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Kladr.Model" />
  <xs:import schemaLocation="http://rphqbuild1:49210/GeoPointService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://rphqbuild1:49210/GeoPointService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.GeoPoints.Entities" />
  <xs:complexType name="KladrAddressResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidSoft.Kladr.Model" minOccurs="0" name="KladrAddress" nillable="true" type="q1:KladrAddress" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KladrAddressResult" nillable="true" type="tns:KladrAddressResult" />
  <xs:complexType name="ResultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
  <xs:complexType name="CheckKladrCodeResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExistKladrCodes" nillable="true" type="q2:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckKladrCodeResult" nillable="true" type="tns:CheckKladrCodeResult" />
  <xs:complexType name="CountryListResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapidSoft.GeoPoints.Entities" minOccurs="0" name="Countries" nillable="true" type="q3:ArrayOfCountry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryListResult" nillable="true" type="tns:CountryListResult" />
  <xs:complexType name="GetLocationsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RapidSoft.GeoPoints.Entities" minOccurs="0" name="Locations" nillable="true" type="q4:ArrayOfLocation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLocationsResult" nillable="true" type="tns:GetLocationsResult" />
</xs:schema>