PartnersConnector/RapidSoft.Loaylty.PartnersConnector.ProductCatalog/Service References/OrderManagement/OrderManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.Entities" />
  <xs:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" />
  <xs:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.InputParameters" />
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientContext" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.Entities" minOccurs="0" name="orderRequest" nillable="true" type="q2:OrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" minOccurs="0" name="CreateOrderResult" nillable="true" type="q3:CreateOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientCommitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientContext" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientCommitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" minOccurs="0" name="ClientCommitOrderResult" nillable="true" type="q5:ClientCommitOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartnerCommitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.InputParameters" minOccurs="0" name="partnerOrderCommitment" nillable="true" type="q6:ArrayOfPartnerOrderCommitment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartnerCommitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" minOccurs="0" name="PartnerCommitOrderResult" nillable="true" type="q7:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOrdersStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.InputParameters" minOccurs="0" name="ordersStatuses" nillable="true" type="q8:ArrayOfOrdersStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOrdersStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" minOccurs="0" name="ChangeOrdersStatusesResult" nillable="true" type="q9:ChangeOrdersStatusesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>