PartnersConnector/RapidSoft.Loaylty.PartnersConnector.ProductCatalog/Service References/OrderManagement/OrderManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.Entities" />
      <xsd:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" />
      <xsd:import schemaLocation="http://localhost:5156/OrderManagementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.InputParameters" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderManagementService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_ClientCommitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientCommitOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_ClientCommitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientCommitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_PartnerCommitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PartnerCommitOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_PartnerCommitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PartnerCommitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_ChangeOrdersStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrdersStatuses" />
  </wsdl:message>
  <wsdl:message name="IOrderManagementService_ChangeOrdersStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOrdersStatusesResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderManagementService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/CreateOrder" message="tns:IOrderManagementService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/CreateOrderResponse" message="tns:IOrderManagementService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientCommitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/ClientCommitOrder" message="tns:IOrderManagementService_ClientCommitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/ClientCommitOrderResponse" message="tns:IOrderManagementService_ClientCommitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PartnerCommitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/PartnerCommitOrder" message="tns:IOrderManagementService_PartnerCommitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/PartnerCommitOrderResponse" message="tns:IOrderManagementService_PartnerCommitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOrdersStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderManagementService/ChangeOrdersStatuses" message="tns:IOrderManagementService_ChangeOrdersStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderManagementService/ChangeOrdersStatusesResponse" message="tns:IOrderManagementService_ChangeOrdersStatuses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderManagementService" type="tns:IOrderManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCommitOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/ClientCommitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartnerCommitOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/PartnerCommitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOrdersStatuses">
      <soap:operation soapAction="http://tempuri.org/IOrderManagementService/ChangeOrdersStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagementService">
    <wsdl:port name="BasicHttpBinding_IOrderManagementService" binding="tns:BasicHttpBinding_IOrderManagementService">
      <soap:address location="http://localhost:5156/OrderManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>