IntegrationTests/Externals/Rapidsoft.Loyalty.NotificationSystem.WsClients/Service References/ClientMessageService/ClientMessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientMessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5657/ClientMessageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5657/ClientMessageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5657/ClientMessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" />
      <xsd:import schemaLocation="http://localhost:5657/ClientMessageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" />
      <xsd:import schemaLocation="http://localhost:5657/ClientMessageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientMessageService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetThreads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreads" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetThreads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThreadsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetThreadById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreadById" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetThreadById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThreadByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetThreadMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThreadMessages" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_GetThreadMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThreadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_Reply_InputMessage">
    <wsdl:part name="parameters" element="tns:Reply" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_Reply_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplyResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_MarkThreadAsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkThreadAsRead" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_MarkThreadAsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkThreadAsReadResponse" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_Notify_InputMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="IClientMessageService_Notify_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientMessageService">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupportService/Echo" message="tns:IClientMessageService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupportService/EchoResponse" message="tns:IClientMessageService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreads">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/GetThreads" message="tns:IClientMessageService_GetThreads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/GetThreadsResponse" message="tns:IClientMessageService_GetThreads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/GetStatistics" message="tns:IClientMessageService_GetStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/GetStatisticsResponse" message="tns:IClientMessageService_GetStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/GetThreadById" message="tns:IClientMessageService_GetThreadById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/GetThreadByIdResponse" message="tns:IClientMessageService_GetThreadById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/GetThreadMessages" message="tns:IClientMessageService_GetThreadMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/GetThreadMessagesResponse" message="tns:IClientMessageService_GetThreadMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reply">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/Reply" message="tns:IClientMessageService_Reply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/ReplyResponse" message="tns:IClientMessageService_Reply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkThreadAsRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/MarkThreadAsRead" message="tns:IClientMessageService_MarkThreadAsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/MarkThreadAsReadResponse" message="tns:IClientMessageService_MarkThreadAsRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientMessageService/Notify" message="tns:IClientMessageService_Notify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientMessageService/NotifyResponse" message="tns:IClientMessageService_Notify_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientMessageService" type="tns:IClientMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/ISupportService/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreads">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/GetThreads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadById">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/GetThreadById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadMessages">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/GetThreadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/Reply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkThreadAsRead">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/MarkThreadAsRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap:operation soapAction="http://tempuri.org/IClientMessageService/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientMessageService">
    <wsdl:port name="BasicHttpBinding_IClientMessageService" binding="tns:BasicHttpBinding_IClientMessageService">
      <soap:address location="http://localhost:5657/ClientMessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>