IntegrationTests/Externals/RapidSoft.Loaylty.PartnersConnector.WsClients/Service References/PartnersOrderManagementService/OrderManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:700/OrderManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixBasketItemPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="param" nillable="true" type="q1:FixBasketItemPriceParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixBasketItemPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="FixBasketItemPriceResult" nillable="true" type="q2:FixBasketItemPriceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="order" nillable="true" type="q3:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="CheckOrderResult" nillable="true" type="q4:CheckOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="order" nillable="true" type="q5:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="CommitOrderResult" nillable="true" type="q6:CommitOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomCommitOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="order" nillable="true" type="q7:Order" />
        <xs:element minOccurs="0" name="methodName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomCommitOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="CustomCommitOrderResult" nillable="true" type="q8:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryVariants">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="param" nillable="true" type="q9:GetDeliveryVariantsParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryVariantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="GetDeliveryVariantsResult" nillable="true" type="q10:GetDeliveryVariantsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>