IntegrationTests/Externals/RapidSoft.VTB24.BankConnector.WsClients/Service References/BankConnectorService/BankConnectorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="RapidSoft.VTB24.BankConnector" elementFormDefault="qualified" targetNamespace="RapidSoft.VTB24.BankConnector" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63910/BankConnectorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.DataModels" />
  <xs:import schemaLocation="http://localhost:63910/BankConnectorService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:63910/BankConnectorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" />
  <xs:complexType name="RegisterClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.DataModels" minOccurs="0" name="Gender" type="q1:Gender" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterClientRequest" nillable="true" type="tns:RegisterClientRequest" />
  <xs:complexType name="UpdateClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomFields" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" minOccurs="0" name="UpdateProperties" nillable="true" type="q3:ArrayOfUpdateProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateClientRequest" nillable="true" type="tns:UpdateClientRequest" />
  <xs:complexType name="ClientProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomFields" nillable="true" type="tns:ArrayOfClientProfileCustomFieldValue" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.DataModels" minOccurs="0" name="Gender" nillable="true" type="q4:Gender" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationKladr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" minOccurs="0" name="Status" type="q5:ClientProfileStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientProfile" nillable="true" type="tns:ClientProfile" />
  <xs:complexType name="ArrayOfClientProfileCustomFieldValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientProfileCustomFieldValue" nillable="true" type="tns:ClientProfileCustomFieldValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientProfileCustomFieldValue" nillable="true" type="tns:ArrayOfClientProfileCustomFieldValue" />
  <xs:complexType name="ClientProfileCustomFieldValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientProfileCustomFieldValue" nillable="true" type="tns:ClientProfileCustomFieldValue" />
</xs:schema>