PartnersConnector/Externals/RapidSoft.Loaylty.ProductCatalog.WsClients/Service References/WishListService/WishListService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.OutputResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8101/WishListService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.Entities" />
  <xs:complexType name="WishListResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WishListResult" nillable="true" type="tns:WishListResult" />
  <xs:complexType name="ResultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
  <xs:complexType name="GetWishListItemResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WishListResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Item" nillable="true" type="tns:WishListItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetWishListItemResult" nillable="true" type="tns:GetWishListItemResult" />
  <xs:complexType name="WishListItem">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.Entities" minOccurs="0" name="AvailabilityStatus" type="q1:ProductAvailabilityStatuses" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.ProductCatalog.API.Entities" minOccurs="0" name="Product" nillable="true" type="q2:Product" />
      <xs:element minOccurs="0" name="ProductsQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WishListItem" nillable="true" type="tns:WishListItem" />
  <xs:complexType name="GetWishListResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfWishListItem" />
          <xs:element minOccurs="0" name="MaxCountToTake" type="xs:int" />
          <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetWishListResult" nillable="true" type="tns:GetWishListResult" />
  <xs:complexType name="ArrayOfWishListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WishListItem" nillable="true" type="tns:WishListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWishListItem" nillable="true" type="tns:ArrayOfWishListItem" />
  <xs:complexType name="GetWishListNotificationsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Notifications" nillable="true" type="tns:ArrayOfNotification" />
          <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetWishListNotificationsResult" nillable="true" type="tns:GetWishListNotificationsResult" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemBonusCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalBonusCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
</xs:schema>