BankConnector/Externals/RapidSoft.VTB24.Site/Service References/SecurityWebApi/SecurityWebApi11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vtb24.Site.Security.SecurityService.Models.Inputs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vtb24.Site.Security.SecurityService.Models.Inputs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateUserAndPasswordOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForcePasswordChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserAndPasswordOptions" nillable="true" type="tns:CreateUserAndPasswordOptions" />
</xs:schema>