BankConnector/Externals/Rapidsoft.Loyalty.NotificationSystem.WsClients/Service References/EmailSenderService/EmailSender1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SendEmailParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmailParameters" nillable="true" type="tns:SendEmailParameters" />
</xs:schema>