trunk/Site/AdminServices/Service References/AdminFeedbackServiceEndpoint/AdminFeedbackService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rphqbuild1:5657/AdminFeedbackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" />
  <xs:import schemaLocation="http://rphqbuild1:5657/AdminFeedbackService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q1:AdminGetThreadsParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="GetThreadsResult" nillable="true" type="q2:AdminGetThreadsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q3:AdminGetThreadMessagesParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="GetThreadMessagesResult" nillable="true" type="q4:GetThreadMessagesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q5:AdminReplyParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="ReplyResult" nillable="true" type="q6:ReplyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAnsweredStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q7:ChangeAnsweredStatusParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAnsweredStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="ChangeAnsweredStatusResult" nillable="true" type="q8:ChangeAnsweredStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q9:AdminGetThreadByIdParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThreadByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="GetThreadByIdResult" nillable="true" type="q10:GetThreadByIdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>