Site/AdminServices/Service References/FeedbackEmailNotificationQueueService/FeedbackEmailNotificationQueueService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rphqbuild1:5657/FeedbackEmailNotificationQueueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" />
  <xs:import schemaLocation="http://rphqbuild1:5657/FeedbackEmailNotificationQueueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesToNotify">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesToNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="GetMessagesToNotifyResult" nillable="true" type="q1:GetMessagesToNotifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkMessagesAsNotified">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q2:MarkMessagesAsNotifiedParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkMessagesAsNotifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.OutputResults" minOccurs="0" name="MarkMessagesAsNotifiedResult" nillable="true" type="q3:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>