Site/Services/Service References/BankConnectorService/BankConnectorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rphqbuild1:63910/BankConnectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Female">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfBankOffer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankOffer" nillable="true" type="tns:BankOffer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankOffer" nillable="true" type="tns:ArrayOfBankOffer" />
  <xs:complexType name="BankOffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BonusCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardLast4Digits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OfferId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:BankOfferStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankOffer" nillable="true" type="tns:BankOffer" />
  <xs:simpleType name="BankOfferStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inactive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankOfferStatus" nillable="true" type="tns:BankOfferStatus" />
</xs:schema>