CommonPackages/RapidSoft.Loaylty.BonusGateway/Service References/BonusGateway/BonusGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="RapidSoft.Loyalty.BonusGateway.Service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BonusGateway" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="RapidSoft.Loyalty.BonusGateway.Service" location="http://192.168.62.159:19120/BonusGateway.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_BonusGateway" type="i0:BonusGateway">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsByClient">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/GetAccountsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyDiscount">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/ApplyDiscount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyWithdrawByAccount">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/ApplyWithdrawByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundPointsByCheque">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/RefundPointsByCheque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefundPoints">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/RefundPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackPoints">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/RollbackPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPoints">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/ConfirmPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrenciesByLoyaltyProgram">
      <soap:operation soapAction="RapidSoft.Loyalty.BonusGateway.Service/BonusGateway/GetCurrenciesByLoyaltyProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BonusGateway">
    <wsdl:port name="BasicHttpBinding_BonusGateway" binding="tns:BasicHttpBinding_BonusGateway">
      <soap:address location="http://192.168.62.159:19120/BonusGateway.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>