trunk/IntegrationTests/Externals/RapidSoft.VTB24.Site/Service References/PublicProfileWebApi/PublicProfileWebApi5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.PublicProfile.Inputs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.PublicProfile.Inputs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetPublicProfileParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShopId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPublicProfileParameters" nillable="true" type="tns:GetPublicProfileParameters" />
</xs:schema>