trunk/ProductCatalog/Externals/RapidSoft.Loaylty.PromoAction.WsClients/Service References/TargetAudienceService/TargetAudienceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57451/TargetAudienceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.OutputResults" />
  <xs:import schemaLocation="http://localhost:57451/TargetAudienceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.InputParameters" />
  <xs:import schemaLocation="http://localhost:57451/TargetAudienceService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTargetAudiences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientTargetAudiencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.OutputResults" minOccurs="0" name="GetClientTargetAudiencesResult" nillable="true" type="q1:GetClientTargetAudiencesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignClientTargetAudience">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q2:AssignClientTargetAudienceParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignClientTargetAudienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.OutputResults" minOccurs="0" name="AssignClientTargetAudienceResult" nillable="true" type="q3:AssignClientAudienceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignClientSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.InputParameters" minOccurs="0" name="parameters" nillable="true" type="q4:AssignClientSegmentParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignClientSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.OutputResults" minOccurs="0" name="AssignClientSegmentResult" nillable="true" type="q5:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetAudiences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isSegment" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetAudiencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PromoAction.Api.OutputResults" minOccurs="0" name="GetTargetAudiencesResult" nillable="true" type="q6:GetTargetAudiencesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetServiceVersionResult" nillable="true" type="q7:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>