trunk/BankConnector/Externals/RapidSoft.VTB24.Site/Service References/SecurityWebApi/SecurityWebApi13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.Security.Models.Outputs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vtb24.Site.SecurityWebServices.Security.Models.Outputs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChangeUserPhoneNumberResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="tns:ChangeUserPhoneNumberStatus" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeUserPhoneNumberResult" nillable="true" type="tns:ChangeUserPhoneNumberResult" />
  <xs:simpleType name="ChangeUserPhoneNumberStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Changed" />
      <xs:enumeration value="UserNotFound" />
      <xs:enumeration value="PhoneNumberIsUsedByAnotherUser" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeUserPhoneNumberStatus" nillable="true" type="tns:ChangeUserPhoneNumberStatus" />
  <xs:complexType name="ResetUserPasswordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="tns:ResetUserPasswordStatus" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetUserPasswordResult" nillable="true" type="tns:ResetUserPasswordResult" />
  <xs:simpleType name="ResetUserPasswordStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Changed" />
      <xs:enumeration value="UserNotFound" />
      <xs:enumeration value="FailedToSendNotification" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResetUserPasswordStatus" nillable="true" type="tns:ResetUserPasswordStatus" />
</xs:schema>