PartnersConnector/RapidSoft.Loaylty.PartnersConnector.TestPartner/Service References/PartnerSecurityService/PartnerSecurityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:500/PartnerSecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" />
  <xs:element name="CreateBankSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBankSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="CreateBankSignatureResult" nillable="true" type="q1:SignatureResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBankSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBankSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="VerifyBankSignatureResult" nillable="true" type="q2:VerifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOnlinePartnerSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOnlinePartnerSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" minOccurs="0" name="VerifyOnlinePartnerSignatureResult" nillable="true" type="q3:VerifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>