trunk/ProductCatalog/Externals/RapidSoft.VTB24.BankConnector.WsClients/Service References/PaymentService/PaymentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63910/PaymentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PaymentFormRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnUrlFail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnUrlSuccess" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentFormRequest" nillable="true" type="tns:PaymentFormRequest" />
  <xs:complexType name="GenericBankConnectorResponseOfPaymentFormParametersXZrH00sf">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericBankConnectorResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaymentFormParameters" Namespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SimpleBankConnectorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" nillable="true" type="tns:PaymentFormParameters" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenericBankConnectorResponseOfPaymentFormParametersXZrH00sf" nillable="true" type="tns:GenericBankConnectorResponseOfPaymentFormParametersXZrH00sf" />
  <xs:complexType name="SimpleBankConnectorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleBankConnectorResponse" nillable="true" type="tns:SimpleBankConnectorResponse" />
  <xs:complexType name="PaymentFormParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentFormParameters" nillable="true" type="tns:PaymentFormParameters" />
  <xs:complexType name="GenericBankConnectorResponseOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericBankConnectorResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RapidSoft.VTB24.BankConnector.API.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SimpleBankConnectorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenericBankConnectorResponseOfboolean" nillable="true" type="tns:GenericBankConnectorResponseOfboolean" />
</xs:schema>