trunk/ProductCatalog/Externals/RapidSoft.Loaylty.PartnersConnector.WsClients/Service References/PartnersOrderManagementService/OrderManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RapidSoft.Loaylty.PartnersConnector.Interfaces.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:700/OrderManagementService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:700/OrderManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FixBasketItemPriceParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="BasketItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfferId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfferName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixBasketItemPriceParam" nillable="true" type="tns:FixBasketItemPriceParam" />
  <xs:complexType name="FixBasketItemPriceResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Confirmed" type="xs:int" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UtcDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FixBasketItemPriceResult" nillable="true" type="tns:FixBasketItemPriceResult" />
  <xs:complexType name="ResultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="BonusDeliveryCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="BonusItemsCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="BonusTotalCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryInfo" nillable="true" type="tns:DeliveryInfo" />
      <xs:element minOccurs="0" name="ExternalOrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalOrderStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalOrderStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InsertedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsertedUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfOrderItem" />
      <xs:element minOccurs="0" name="ItemsCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="PartnerId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:OrderStatuses" />
      <xs:element minOccurs="0" name="StatusChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalWeight" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedUserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="DeliveryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:DeliveryAddress" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:Contact" />
      <xs:element minOccurs="0" name="DeliveryType" type="tns:DeliveryTypes" />
      <xs:element minOccurs="0" name="DeliveryVariantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryVariantsLocation" nillable="true" type="tns:VariantsLocation" />
      <xs:element minOccurs="0" name="ExternalDeliveryVariantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupPoint" nillable="true" type="tns:PickupPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryInfo" nillable="true" type="tns:DeliveryInfo" />
  <xs:complexType name="DeliveryAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityKladrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictKladrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="House" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionKladrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TownKladrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TownTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryAddress" nillable="true" type="tns:DeliveryAddress" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:simpleType name="DeliveryTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Delivery" />
      <xs:enumeration value="Pickup" />
      <xs:enumeration value="Email" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeliveryTypes" nillable="true" type="tns:DeliveryTypes" />
  <xs:complexType name="VariantsLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalLocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KladrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariantsLocation" nillable="true" type="tns:VariantsLocation" />
  <xs:complexType name="PickupPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryVariantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalDeliveryVariantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalPickupPointId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OperatingHours" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Phones" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PickupPoint" nillable="true" type="tns:PickupPoint" />
  <xs:complexType name="ArrayOfOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItem" nillable="true" type="tns:ArrayOfOrderItem" />
  <xs:complexType name="OrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="BasketItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfferId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfferName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
  <xs:simpleType name="OrderStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Registration">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Processing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CancelledByPartner">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeliveryWaiting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Delivery">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Delivered">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeliveredWithDelay">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotDelivered">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatuses" nillable="true" type="tns:OrderStatuses" />
  <xs:complexType name="CheckOrderResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Checked" type="xs:int" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckOrderResult" nillable="true" type="tns:CheckOrderResult" />
  <xs:complexType name="CommitOrderResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Confirmed" type="tns:ConfirmedStatuses" />
          <xs:element minOccurs="0" name="InternalOrderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommitOrderResult" nillable="true" type="tns:CommitOrderResult" />
  <xs:simpleType name="ConfirmedStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Committed" />
      <xs:enumeration value="AddToQueue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfirmedStatuses" nillable="true" type="tns:ConfirmedStatuses" />
  <xs:complexType name="GetDeliveryVariantsParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfOrderItem" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="PartnerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliveryVariantsParam" nillable="true" type="tns:GetDeliveryVariantsParam" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalLocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KladrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="GetDeliveryVariantsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliveryGroups" nillable="true" type="tns:ArrayOfDeliveryGroup" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:VariantsLocation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDeliveryVariantsResult" nillable="true" type="tns:GetDeliveryVariantsResult" />
  <xs:complexType name="ArrayOfDeliveryGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryGroup" nillable="true" type="tns:DeliveryGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryGroup" nillable="true" type="tns:ArrayOfDeliveryGroup" />
  <xs:complexType name="DeliveryGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryVariants" nillable="true" type="tns:ArrayOfDeliveryVariant" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryGroup" nillable="true" type="tns:DeliveryGroup" />
  <xs:complexType name="ArrayOfDeliveryVariant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryVariant" nillable="true" type="tns:DeliveryVariant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryVariant" nillable="true" type="tns:ArrayOfDeliveryVariant" />
  <xs:complexType name="DeliveryVariant">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryVariantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalDeliveryVariantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="PickupPoints" nillable="true" type="tns:ArrayOfPickupPoint" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryVariant" nillable="true" type="tns:DeliveryVariant" />
  <xs:complexType name="ArrayOfPickupPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PickupPoint" nillable="true" type="tns:PickupPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPickupPoint" nillable="true" type="tns:ArrayOfPickupPoint" />
</xs:schema>