trunk/NotificationSystem/Rapidsoft.Loyalty.NotificationSystem.WsClients/Service References/ClientFeedbackService/ClientFeedbackService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.InputParameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5657/ClientFeedbackService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.Entities" />
  <xs:complexType name="SendFeedbackParameters">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.Entities" minOccurs="0" name="Attachments" nillable="true" type="q1:ArrayOfMessageAttachment" />
      <xs:element minOccurs="0" name="ClientEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rapidsoft.Loyalty.NotificationSystem.API.Entities" minOccurs="0" name="Type" type="q2:FeedbackTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendFeedbackParameters" nillable="true" type="tns:SendFeedbackParameters" />
</xs:schema>